@import url(https://fonts.googleapis.com/css?family=Dosis&display=swap);
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    height: 300vh;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
nav {
    display: block;
    width: 100%;
    height: 60px;
    background: #3333334f;
    -webkit-box-shadow: 0 0 4px 0 #000;
    box-shadow: 0 0 4px 0 #000;
    margin-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: fixed;
    -webkit-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    transition: 0.3s all linear;
    z-index: 999;
}
nav .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
nav .nav-social a {
    padding: 0 10px;
}
nav .nav-social a:hover {
    background: #00000029;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background: #00000029;
    border-radius: 9999px;
    color: rgb(37, 228, 94);
    font-size: 15px;
    font-weight: 900;
    padding: 5px 10px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
}
section {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
}
section::before,
section::after {
    content: "";
    display: table;
}
section::after {
    clear: both;
}
.spotify {
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    left: 0;
}
@media only screen and (max-width: 800px) {
    .spotify {
        display: none;
    }
}
.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
video.video-setting {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.word {
    bottom: 0;
    color: #fff;
    font-size: 2.5em;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
}
.word span {
    display: inline-block;
    -webkit-transform: translateX(100%) scale(0.9);
    -ms-transform: translateX(100%) scale(0.9);
    transform: translateX(100%) scale(0.9);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}
.word .done {
    color: #6f6;
    -webkit-transform: translateX(0) scale(1);
    -ms-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
}
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    width: 400px;
    padding: 5px;
    line-height: 3em;
}
.content p {
    font-size: 2rem;
    text-shadow: 0 0 2px #41b883;
    font-weight: 900;
    font-size: 28px;
    color: #fafafa;
}
.content p:nth-of-type(1) {
    position: relative;
}
.text {
    font-weight: 900;
    font-size: 2.3em;
    color: #fafafa;
    text-shadow: 0 0 2px #41b883;
}
.content p {
    font-size: 0.9em;
}
button {
    font-family: "Dosis", sans-serif;
    padding: 10px 20px;
    border-radius: 999px;
    background: transparent;
    color: white;
    border: 3px solid #41b883;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    color: #fff;
}
button:hover {
    background: #41b883;
}
.dud {
    color: #757575;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
    -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
    z-index: 9999;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}
.modal-content h2 {
    width: 150px;
}
.modal-close {
    float: right;
    width: 1.3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.show-modal {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
#map {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: grey;
}
.hidden {
    display: block !important;
}
.off-set {
    position: fixed;
    top: 10em;
    background: #39a576;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 0 3px 0 #ccc;
    box-shadow: 0 0 3px 0 #ccc;
}
.off-set p {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    padding: 10px;
}
.hidden-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate3d(0, -210%, 0);
    transform: translate3d(0, -210%, 0);
}
.back-to-top {
    height: 50px;
    width: 50px;
    background: #eee;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    -webkit-box-shadow: 0 0 5px 0 #39a576;
    box-shadow: 0 0 5px 0 #39a576;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
    border: 3px solid #39a576;
    opacity: 1;
}
.back-to-top:hover {
    background: #39a576;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 0 5px 0 #eee;
    box-shadow: 0 0 5px 0 #eee;
    border: 2px solid #39a576;
}
.back-to-top:hover polygon {
    fill: #eee;
}
.hide-backtotop {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}