@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 300vh;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    /* scroll-behavior: smooth; */
    overflow-x: hidden;
    margin: 0;
    padding:0;
}
nav{
    display: block;
    width: 100%;
    height: 60px;
    background: #3333334f;
    box-shadow: 0 0px 4px 0px #000;
    margin-bottom: 20px;
    transform: translate3d(0, 0, 0);
    position: fixed;
    transition: .3s all linear;
    z-index: 999;
}
/* nav a.img-center{
    display: block;
    position: absolute;
    left: 50%;
    top: 15px;
    text-align: center;
    margin-left: -62px;

 
}
nav a.img-center img {
    display: block;
    width: 120px;
} */
nav .nav-social{
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
nav .nav-social a{
    padding: 0 10px;
}
nav .nav-social a:hover{
    background: #00000029;
}
[data-tooltip]{
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]::before{
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background: #00000029;
    border-radius: 9999px;
    color: rgb(37, 228, 94);
    font-size: 15px;
    font-weight: 900;
    padding: 5px 10px;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
[data-tooltip]:hover::before{
    opacity: 1;
    visibility: visible;
}
section{
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
}
section::before,section::after{
    content: "";
    display: table
}
section::after{
    clear: both;
}
.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
video.video-setting{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    top: 0;
    object-fit: cover;
}
 /* WORD */
 .word {
    bottom: 0;
    color: #fff;
    font-size: 2.5em;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  }
  .word span {
    display: inline-block;
    transform: translateX(100%) scale(0.9);
    transition: transform 500ms;
  }
  
  .word .done {
    color: #6f6;
    transform: translateX(0) scale(1);
  }
  
 /* WORD */
.text1{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    width: 400px;
    padding: 5px;
    line-height: 3em;
}
.text1 p{
    font-size: 2rem;
    text-shadow: 0px 0px 2px #41B883;
    font-weight: 900;
    font-size: 28px;
    color: #FAFAFA;
}
.text1 p:nth-of-type(1){
    position: relative;
    
}
.text{
  font-weight: 900;
  font-size: 2.3em;
  color: #FAFAFA;
  text-shadow: 0px 0px 2px #41B883;
}
.text1 p{
    font-size: 0.9em;
}
button {
    font-family: 'Dosis', sans-serif;
    padding: 10px 20px;
    border-radius: 999px;
    background: transparent;
    color: white;
    border: 3px solid #41B883;
    margin-top: 20px;
    cursor: pointer;
    transition: .2s;
    outline: none;
    color: #fff;
}
button:hover{
    background: #41B883;
    
}
.dud{
    color: #757575;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 9999; }
    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: black;
      padding: 1rem 1.5rem;
      border-radius: 0.5rem; }
      .modal-content h2 {
        width: 150px; }
    .modal-close {
      float: right;
      width: 1.3rem;
      text-align: center;
      cursor: pointer;
      border-radius: 0.25rem;
      background-color: lightgray; }
  
  .show-modal {
    visibility: visible;
    opacity: 1;
    transition: .3s linear; }
  
  #map {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: grey; }
  
  .hidden {
    display: block !important; }



  /* off-set */
.off-set{
    position: fixed;
    top: 10em;
    background: #39A576;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 3px 0 #ccc;
}
.off-set p{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    padding: 10px;
}
.hidden-nav{
    box-shadow: none;
    transform: translate3d(0,-210%,0);
}
.back-to-top{
    height: 50px;
    width: 50px;
    background: #EEEEEE;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    bottom: 30px;
    box-shadow: 0 0 5px 0 #39A576;
    cursor: pointer;
    transition: .2s all;
    border: 3px solid #39A576;
    opacity: 1;
}
.back-to-top:hover{
    background: #39A576;
    transform: translateY(-5px);
    box-shadow: 0 0 5px 0 #EEEEEE;
    border: 2px solid #39A576;
}
.back-to-top:hover polygon{
    fill: #EEEEEE;
}
.hide-backtotop{
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
}


/* MUSIC */

@media only screen and (max-width: 890px){
    #app-cover{
        height: 20px !important;
        width: auto !important;
        left: -16px !important;
        bottom: 95px !important;
        margin: 0 auto;
    }
    #album-art,#player-track{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #player-content{
        background: none !important;
        box-shadow: none !important;
    }
    #player-controls{
        float: none !important;
        height: auto !important;
        position: relative;
        bottom: 120px;
        left: 20px;
        width: auto !important;
    }
    .control{
        padding: 0!important;
        float: none !important;
        width: auto !important;
    }
    .button{
        padding: 0px !important;
        background: transparent !important;
        width: auto !important;
        height: auto !important;
        margin: 20px 0;
        
    }
    .button i{
        color: #fff !important;
    }
}