$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$font-family: 'Pacifico', cursive;
@mixin mobile{
    @media screen and (max-width: 320px){
        @content;
    }
}
@mixin iphone6s{
    @media screen and (min-width: 321px) and (max-width: 766px) {
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: 768px) and (max-width: 1024px){
        @content;
    }
}
@mixin mobile3{
    @media screen and (max-width: 766px) {
        @content;
    }
}
.hidden{
    display:block !important;
}
%hienthi{
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    text-align: center;
}
.nav{
    overflow-x: hidden;
    font-family: $font-family;
    @include mobile{
        overflow: hidden;
        padding: 7px;
        a{
            top: 0px;
            width: 100%;
            img{
                position: relative;
                max-width: 100%;
            }
        }
        .menu{
            color: #fff;
            display: block;
            opacity: 1;
            visibility: visible;
            position: relative;
            left: 112px;
            margin-top: 10px;
            font-size: 25px;
            &:hover{
                color: aqua;
            }
        }
        .link{
            display:none;
        }
    }  
    @include iphone6s{
        overflow: hidden;
        padding: 7px;
        a{
            top: 0px;
            width: 100%;
            img{
                // position: relative;
                display:none;
            }
        }
        .menu{
            color: #fff;
            display: block;
            opacity: 1;
            visibility: visible;
            position: relative;
            left: 112px;
            margin-top: 10px;
            font-size: 25px;
            &:hover{
                color: aqua;
            }
        }
        .link{
            display:none;
        }
    }
    

}
.line{
    @include iphone6s{
        display:none;
    }
}
.share{
    @include mobile{
        overflow: hidden;
        display:block;
        float:none;
        .ngayxua{
            display: block;
            opacity: 1;
            visibility: visible;
            position: absolute;
            text-align: center;
            left: 120px;
            top: 18px;
        }
        .ngayxua1{
            display: block;
            opacity: 1;
            visibility: visible;
            position: absolute;
            text-align: center;
            left: 119px;
            top: 17px;
        }
        .ngayxua2{
            display: block;
            opacity: 1;
            visibility: visible;
            position: absolute;
            text-align: center;
            left: 119px;
            top: 14px;
        }
    }
    @include iphone6s{
        float:none;
    }
    
}
.myCV{
    @include mobile{
        overflow-x: hidden;
        width:100%;
    }
    @include iphone6s{
        width:90%;
    }
}
.title{
    overflow-x: hidden;
    .outline{
        &::before{
            position: absolute;
        }
        img{
            position: absolute;
        }
    }
}

